.tw-heading {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 500;
  line-height: 1.2;
}

.tw-heading--divider {
  border-bottom: 1px solid var(--gray-light);
}

h1.tw-heading {
  font-size: 2.5rem;
  padding-bottom: 10px;
  margin-top: 0;
}

h2.tw-heading {
  font-size: 2rem;
  padding-bottom: 10px;
}

h3.tw-heading {
  font-size: 1.75rem;
}

h4.tw-heading {
  font-size: 1.5rem;
}

h5.tw-heading {
  font-size: 1.25rem;
}

h6.tw-heading {
  font-size: 0.85rem;
  color: var(--gray)
}