
.tw-u-margin {
  margin: var(--gutter) !important;
}

.tw-u-margin--bottom {
  margin-bottom: var(--gutter) !important;
}

.tw-u-margin--left {
  margin-left: var(--gutter) !important;
}

.tw-u-margin--right {
  margin-right: var(--gutter) !important;
}

.tw-u-margin--top {
  margin-top: var(--gutter) !important;
}

.tw-u-margin--vertical {
  margin: var(--gutter) 0 !important;
}

.tw-u-margin--horizontal {
  margin: 0 var(--gutter) !important;
}

.tw-u-padding {
  padding: var(--gutter) !important;
}

.tw-u-padding--bottom {
  padding-bottom: var(--gutter) !important;
}

.tw-u-padding--left {
  padding-left: var(--gutter) !important;
}

.tw-u-padding--right {
  padding-right: var(--gutter) !important;
}

.tw-u-padding--top {
  padding-top: var(--gutter) !important;
}

.tw-u-padding--vertical {
  padding: var(--gutter) 0 !important;
}

.tw-u-padding--horizontal {
  padding: 0 var(--gutter) !important;
}
