/*
* Classes should be ordered by name
**/

.tw-u-display--inline-block {
  display: inline-block !important;
}

.tw-u-display--none {
  display: none !important;
}

.tw-u-filter-blur--5px {
  filter: blur(5px) !important;
}

.tw-u-font-weight--bold {
  font-weight: bold !important;
}

.tw-u-overflow-y--hidden {
  overflow-y: hidden !important;
}

.tw-u-overflow-y--scroll {
  overflow-y: scroll !important;
}

.tw-u-overflow-scroll--invisible {
  scrollbar-width: none !important;  /* Firefox */
  -ms-overflow-style: none !important;  /* Internet Explorer 10+ */

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
}

.tw-u-padding--bottom {
  padding-bottom: var(--gutter) !important;
}

.tw-u-padding--left {
  padding-left: var(--gutter) !important;
}

.tw-u-padding--right {
  padding-right: var(--gutter) !important;
}

.tw-u-padding--top {
  padding-top: var(--gutter) !important;
}

.tw-u-position--relative {
  position: relative !important;
}

.tw-u-text-align--center {
  text-align: center !important;
}

.tw-u-text-align--right {
  text-align: right !important;
}

.tw-width--full {
  width: 100% !important;
}
