/*
* Classes should be ordered by name
**/

.tw-u-display--inline-block {
  display: inline-block;
}

.tw-u-filter-blur--5px {
  filter: blur(5px);
}

.tw-u-margin--bottom {
  margin-bottom: var(--gutter);
}

.tw-u-margin--left {
  margin-left: var(--gutter);
}

.tw-u-margin--right {
  margin-right: var(--gutter);
}

.tw-u-margin--top {
  margin-top: var(--gutter);
}

.tw-u-overflow-y--hidden {
  overflow-y: hidden;
}

.tw-u-overflow-y--scroll {
  overflow-y: scroll;
}

.tw-u-overflow-scroll--invisible {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

.tw-u-padding--bottom {
  padding-bottom: var(--gutter);
}

.tw-u-padding--left {
  padding-left: var(--gutter);
}

.tw-u-padding--right {
  padding-right: var(--gutter);
}

.tw-u-padding--top {
  padding-top: var(--gutter);
}

.tw-u-text-align--right {
  text-align: right;
}
