.tw-u-text--right {
  text-align: right;
}

.tw-u-padding--top {
  padding-top: var(--gutter);
}

.tw-u-padding--bottom {
  padding-bottom: var(--gutter);
}

.tw-u-padding--left {
  padding-left: var(--gutter);
}

.tw-u-padding--right {
  padding-right: var(--gutter);
}

.tw-u-margin--top {
  margin-top: var(--gutter);
}

.tw-u-margin--bottom {
  margin-bottom: var(--gutter);
}

.tw-u-margin--left {
  margin-left: var(--gutter);
}

.tw-u-margin--right {
  margin-right: var(--gutter);
}

.tw-u-display--inline-block {
  display: inline-block;
}

.tw-u-filter-blur {
  filter: blur(5px);
}