.tw-form-inputs-list {
  border-left: 5px solid #ced4da;
  padding-left: 15px;
}

.tw-form-inputs-list__input-wrapper {
  position: relative;
}

.tw-form-inputs-list__delete-button {
  margin-top: 20px;
  font-size: 25px;
}